[submodule "lib/swordappv2-php-library"]
	path = lib/swordappv2-php-library
	url = https://github.com/swordapp/swordappv2-php-library.git
[submodule "lib/marc4j"]
	path = lib/marc4j
	url = https://github.com/marc4j/marc4j.git
