<?php

$url  = 'http://yorkspace.library.yorku.ca/swordv2/servicedocument';
$user = 'baabaa@baabaa.com';
$pass = 'baabaa@baabaa.com';

// The URL of the example deposit collection
$deposit_url = 'http://yorkspace.library.yorku.ca/swordv2/collection/10315/8004';
?>
