<?php
$servicedocument  = 'http://yorkspace-dev.library.yorku.ca/swordv2/servicedocument';
$user = 'baabaa@baabaa.com';
$password = 'baabaa@baabaa.com';

// The URL of the example deposit collection
$depositlocation = 'http://yorkspace-dev.library.yorku.ca/swordv2/collection/10315/8004';

// Path to XSLT stylesheet
$xsl_file = 'xsl/MARC21slim2SMCDC.xsl';
?>
